.DS_Store
.idea/
/dist
out/
/intellij
workspace.xml
*.versionsBackup
.gradle/
build/
**/build
**/src/**/build
**/test/**/build
*.iml
!**/testData/**/*.iml
buildSrcTmp/
distTmp/
outTmp/
/test.output
/kotlin-native/dist
kotlin-ide/