.DS_Store
.idea/
/dist
out/
/intellij
workspace.xml
*.versionsBackup
.gradle/
build/
**/build
**/src/**/build
**/test/**/build
*.iml
!**/testData/**/*.iml
buildSrcTmp/
distTmp/
outTmp/
/test.output
/kotlin-native/dist
kotlin-ide/
todos

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local
